<h1>
  {{title}}<br/>
  {{title1}}
</h1>
<nav>
	<a routerLink="/dashboard" routerLinkActive="active">Dash Board</a>
	<a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet>
<!--<div *ngIf="selectedHero">
	<h2>{{selectedHero.name}} details!</h2>
	<div><label>id: </label>{{selectedHero.id}}</div>
	<div>
	    <label>name: </label>
	    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
	</div>
</div>
 <div>
	<form>
		<label>name: </label>
		<input [(ngModel)]="hero.name" name="name" placeholder="name">
	</form>

</div> -->
